<!DOCTYPE html>
<html>
<head>
  <title>ShortRl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="hero-unit">
<h1>Short URL</h1>
<p>This is a site for you to create short URLs from long ones!</p>
<p><%= link_to "Get Started", new_address_url %></p>
</div>

<div class="container">
<%= yield %>
</div>
</body>
</html>
